<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{include/top.html}"></div>
<body>
	<section>
		<br>

		<div align=center>
			<h2>회원 등록하기</h2>
		</div>
		<form action="/board/insert">
			<table border=1>
				<tr>
					<td th:text="이름"></td>
					<td><input name="name" type="text"></td>
				</tr>
				<tr>
					<td th:text="나이"></td>
					<td><input name="age" type="text"></td>
				</tr>
				<tr>
					<td th:text="특이사항"></td>
					<td><textarea name="etc" cols=30 row=4></textarea></td>
				</tr>
				
				<tr>
					<td colspan =2><input type="submit" value="등록하기"></td>
				</tr>
			</table>
		</form>
		<br>
	</section>
</body>
<div th:replace="~{include/bottom.html}"></div>
</html>