<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
</head>
<link href="/css/style.css" rel="stylesheet"
	type="text/css" />
<link href="/css/top.css" rel="stylesheet"
	type="text/css" />
<body>
<header>String Boot Security Program</header>
<nav>
<a href="/board/getBoardList">board목록보기</a>&emsp;&emsp;
<a href="/board/form">저장하기</a>&emsp;&emsp;
<a href="/exam/getExamList">exam목록보기</a>&emsp;&emsp;
<a href="/PortOneT/start">결제하기Test</a>&emsp;&emsp;

<a href="/guestBook/list">방명록보기</a>&emsp;&emsp;
<a href="/guestBook/insert">방명록 등록(125)</a>&emsp;&emsp;



<a href="/index">홈으로</a>&emsp;&emsp;
</nav>
</body>
</html>